<h1>This is a heading</h1>

<div class="map-container">
  <div class="precise-column">
    <div class="precise-column-item">Precise item</div>
    <div class="precise-column-item">Precise item</div>
    <div class="precise-column-item">Precise item</div>
  </div>
  <div class="imprecise-column">
    <div class="imprecise-column-item">Imprecise item</div>
    <div class="imprecise-column-item">Imprecise item</div>
    <div class="imprecise-column-item">Imprecise item</div>
  </div>
</div>
